.card {
	margin-top: 20px;
	position: relative;
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
}
.card:hover {
	cursor: pointer;
}
.approved {
	color: green;
}

.App .card h1 {
	display: inline-block;
	margin: 2px 15px 2px 5px;
	font-size: 50px;
}

.card h3 {
	margin: 2px 0;
	display: inline-block;
	font-size: 20px;
	width: calc(75%);
  	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;  	
}
.card i {
  border: solid #7b7d83;;
  border-width: 0px 5px 5px 0;
  display: inline-block;
  padding: 7px;
  z-index: 2;
}

.card i:hover {
	border-color: #ce2b2b;
}
.card .upvote {
	position: absolute;
	top: 10px;
	right: 15px;
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);	
}

.card .downvote {
	position: absolute;
	bottom: 10px;
	right: 15px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	
}


@media only screen and (max-width: 375px) {
  .App .card h1 {
    font-size: 25px;
  }

  .card h3 {
  	font-size: 10px;
  }

  .card i {
  	border-width: 0px 2px 2px 0px;
  	padding: 4px;
  }

}
